
.battery {
    width: 80px;
    height: 40px;
    border: 2px solid #000;
    position: relative;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  .battery::before {
    content: '';
    width: 12px;
    height: 25px;
    background-color: #000000;
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0px 10px 10px 0px;
  }
  .battery-level {
    width: 0;
    height: 100%;
    background-color: green;
    border-radius: 3px;
  }
  .percentage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    color: #000000;
  }