.carousel-dark-brown {
    background-color: #5a3e2b;
    color: #fff;
  }
  .carousel-dark-brown .carousel-control-prev-icon,
  .carousel-dark-brown .carousel-control-next-icon {
    filter: invert(1);
  }
  .carousel-dark-brown .carousel-indicators [data-bs-target] {
    background-color: #a0522d;
  }
  .carousel-dark-brown .carousel-indicators .active {
    background-color: #8b4513;
  }
  .carousel-dark-brown img {
    filter: brightness(80%);
  }
  .carousel-dark-brown .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .carousel-inner {
    height: 500px; /* Set your desired height */
    background-color: rgb(29, 10, 46);
  }
  .img1  {
   background-image: url("../assets/banner.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   height: 500px;
  }

  .carousel-control-prev-icon,.carousel-control-next-icon{
      background-color: rgb(9, 28, 22);
  }