.scrollspy-example {
    height: 575px;
    /* Adjust as needed */
    overflow: scroll;
    position: relative;
    /* Required for Scrollspy to work */
}

.skill-container {
    overflow:scroll;
}

.list-group-item.active {
    background-color: #093855 !important;
    /* Custom background color (green) */
}
.scrollspy-example::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }
#list-example::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }