.scrollspy-example {
    height: 575px;
    /* Adjust as needed */
    overflow: scroll;
    position: relative;
    /* Required for Scrollspy to work */
}

.list-group-item.active {
    background-color: #093855 !important;
}
.scrollspy-example::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }

  .circle-wrap span {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    background:#ddd;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
  }

  .desc {
    text-align: center;
  }